
#form {
	margin: 10px 60px 0px 60px;
}

#formMenu:topbar_content {
	background: lighblue;
}

.ui-panelgrid-content{
	background: lighblue;
}

.ui-panelgrid-content{
	border: 0px;
}

.ui-panelgrid-content{
	border: 0px;
}

.ui-toolbar {
	border: 0;
    background: transparent;
}

.ui-menuitem-icon.ui-icon {
	padding-right: 7px;
}

.ui-menuitem-link.ui-corner-all.ui-state-hover {
	background: #82afd8;
}

.ui-button-red {
	background: #dc0505 !important;
	border: 1px solid #b70707 !important;
}

.ui-button-red.ui-state-hover {
	border: 1px solid #630202 !important;
	background: #c70303 !important;
}

.ui-dataview-content.ui-widget-content {
	min-height: 100px;
}

.ui-dialog-footer.ui-widget-content {
	float: right;
}
.p-field {
	margin-top:20px;
}

.tittle {
	font-size:25px; 
	font-weight:bold;
	font-family: "latoregular","Trebuchet MS",Arial,Helvetica,sans-serif;
	color: #135580;
}

.subtittle {
	font-size:18px; 
	font-weight:bold;
	font-family: "latoregular","Trebuchet MS",Arial,Helvetica,sans-serif;
	color: #135580;
}

.ui-tabmenu-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
	background: transparent;
}

.pnl1 .ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all {
	padding: 8px !important;
}

.pnl1 .ui-panel-title {
	margin: 0px !important;
}

.pnl2 .ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all {
	padding: 8px !important;
}

.pnl2 .ui-panel-title {
	margin: 0px !important;
}

.pnl3 .ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all {
	padding: 8px !important;
}

.pnl3 .ui-panel-title {
	margin: 0px !important;
}

.pnl4 .ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all {
	padding: 8px !important;
}

.pnl4 .ui-panel-title {
	margin: 0px !important;
}

.ui-dataview-column.ui-g-12.ui-md-4 {
	min-width: 50% !important;
}

.ui-dataview-layout-options.ui-selectonebutton.ui-buttonset {
	display: none;
}

.ui-dataview-header.ui-widget-header.ui-helper-clearfix.ui-corner-top {
	background: aliceblue;
}

.ui-dataview-footer.ui-widget-header.ui-corner-bottom {
	background: aliceblue;
}

.ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all {
	background: antiquewhite;
}

#formDialog\:containerEstimacion .ui-panelgrid-cell {
	padding-left: 0px;
}

#formDialog\:containerFecIni .ui-panelgrid-cell {
	padding-left: 0px;
}

.tableOrderable tbody {
	cursor:move;
}
.ui-panel.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-draggable-handle {
	cursor:move;
}
.ui-row-editor-pencil {
    height: 27px;
    width: 32px;
}
.tablatareas .ui-datatable-header.ui-widget-header.ui-corner-top {
	background: bisque;	
}
.tablatareas .ui-widget-content.ui-datatable-even {
	background: #f7ebdd;
}

.tablatareas .ui-widget-content.ui-datatable-odd {
	background: #e8d3b9;
}

.tablatareas thead {
	display: none;
}

.ui-dialog {
	top: 200px !important;
}

.ui-row-editor.ui-helper-clearfix.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-button-success{
	text-align: inherit;
}

.ui-icon.ui-icon-pencil {
	top: 4px;
}